.logo {
  width: 1rem;
  height: 1rem;
}

.contact-row {
  min-height: 5rem;
}

.test-message {
  /* clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    23% 75%,
    11% 88%,
    14% 75%,
    0% 75%
  ); */

  background-color: rgba(230, 230, 230, 0.775);
  padding: 2rem;
  display: flex;
  justify-content: center;
  /* height: 15rem; */
  min-height: max-content;
}

.card-text {
  /* margin-top: -2rem; */
}

.sect-title {
  display: none;
  color: rgba(17, 17, 90, 0.74);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4rem;
}

section {
  margin: 1rem 0px;
}

.carousel-item.active {
  height: 40dvh;
  height: fit-content !important;
}

@media screen and (min-width: 992px) {
  .carousel-item.active {
    height: 85dvh;
  }
}

@media screen and (min-width: 992px) {
  .services .card {
    height: 35rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .services .card {
    height: 30rem;
  }
}

.contact iframe {
  height: 25rem;
}

@media screen and (min-width: 992px) {
  .contact iframe {
    height: 35rem;
  }
  .carousel-inner-container {
    font-size: 3rem !important;
    padding: 10% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .contact iframe {
    height: 20rem;
  }
  .carousel-inner-container {
    font-size: 2rem !important;
    padding: 15% !important;
  }

  .test-message {
    /* min-height: 00px; */
  }
}

.nav-link-text {
  color: rgb(27, 27, 118) !important;
  font-weight: bold;
}

.nav-link-text:hover {
  color: rgb(105, 105, 192) !important;

  transition: all ease-in-out 100ms;
}

.nav-link.active {
  color: rgba(17, 17, 90, 0.74) !important;
  font-weight: bold;
  cursor: default;
  pointer-events: none;
}

li.nav-item i {
  font-size: x-large;
  line-height: 0.5cm;
}

.carousel-bg {
  height: 100%;
  background-size: cover;
}

.carousel-inner-container {
  /* text-align: center; */
  /* height: 100% !important; */
  padding: 25%;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgba(5, 5, 5, 0.337);
  opacity: 1;
  text-shadow: 1px 1px black;
}

.carousel-btn {
  font-weight: bold;
}

.small-text {
  font-size: 30%;
}

.hidden {
  opacity: 0;
  filter: blur(1px);
  transform: translateX(-2rem);
  transition: all ease-in-out 2s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}

.card-body {
  height: 250px;
  box-shadow: 2px 2px 10px 1px rgba(236, 236, 236, 0.347);
}

.name {
  font-weight: bold;
}
.name + div {
  color: purple;
  font-weight: 200;
  font-style: italic;
}

/*

*/

.case-item {
  display: none;
  background-color: rgb(28, 28, 74);
  color: white;
  opacity: 0.9;
  height: 100%;
  justify-content: center;
  padding: 0 2rem;
}

.case a {
  text-decoration: none !important;
}

.case-item > .case-title::before {
  content: " ";
  display: block;
  background-color: yellow;
  height: 5px;
  width: 50px;
}
